.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;
}

/* Estilo CrearPersona */

.form {
	width: 100%;
	max-width: 600px;
	background: #312450;
	padding: 20px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 20px;
	font-family: 'TimesNewRoman';
	color: white; 
	display: flex;
	flex-direction: column;
	text-align: center;
	
 
  
  
}
